In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('E:/download/kaggle_data_set/starbucks/clean_starbucks1.csv')
df.head()

,Beverage_category,Calories,Total_Fat,Trans_fat,Saturated_Fat,Sodium,Total_Carbohydrates,Cholesterol,Dietary_Fibre,Sugars,Protein,Vitamin_A,Vitamin_C,Calsium,Iron,Caffein
0,Classic Espresso Drinks,70,0.1,0.1,0.0,5,75,10,0,9,6.0,0.10,0.0,0.2,0.00,75
1,Classic Espresso Drinks,100,3.5,2.0,0.1,15,85,10,0,9,6.0,0.10,0.0,0.2,0.00,75
2,Classic Espresso Drinks,70,2.5,0.4,0.0,0,65,6,1,4,5.0,0.06,0.0,0.2,0.08,75
3,Classic Espresso Drinks,100,0.2,0.2,0.0,5,120,15,0,14,10.0,0.15,0.0,0.3,0.00,75
4,Classic Espresso Drinks,150,6.0,3.0,0.2,25,135,15,0,14,10.0,0.15,0.0,0.3,0.00,75

In [3]:
df.tail()

,Beverage_category,Calories,Total_Fat,Trans_fat,Saturated_Fat,Sodium,Total_Carbohydrates,Cholesterol,Dietary_Fibre,Sugars,Protein,Vitamin_A,Vitamin_C,Calsium,Iron,Caffein
105,Tazo® Tea Drinks,190,4.0,2.0,0.1,15,95,31,0,30,7.0,0.10,0.0,0.25,0.00,0
106,Tazo® Tea Drinks,170,3.5,0.4,0.0,0,80,27,1,25,6.0,0.08,0.0,0.25,0.10,0
107,Tazo® Tea Drinks,190,0.2,0.1,0.0,5,110,39,0,39,9.0,0.15,0.0,0.30,0.00,0
108,Tazo® Tea Drinks,230,5.0,2.5,0.2,20,125,38,0,38,9.0,0.15,0.0,0.30,0.00,0
109,Tazo® Tea Drinks,210,4.0,0.5,0.0,0,100,34,1,32,7.0,0.10,0.0,0.30,0.15,0

In [4]:
df.columns

Index(['Beverage_category', 'Calories', 'Total_Fat', 'Trans_fat',
       'Saturated_Fat', 'Sodium', 'Total_Carbohydrates', 'Cholesterol',
       'Dietary_Fibre', 'Sugars', 'Protein', 'Vitamin_A', 'Vitamin_C',
       'Calsium', 'Iron', 'Caffein'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110 entries, 0 to 109
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Beverage_category    110 non-null    object
 1   Calories             110 non-null    int64
 2   Total_Fat            110 non-null    float64
 3   Trans_fat            110 non-null    float64
 4   Saturated_Fat        110 non-null    float64
 5   Sodium               110 non-null    int64
 6   Total_Carbohydrates  110 non-null    int64
 7   Cholesterol          110 non-null    int64
 8   Dietary_Fibre        110 non-null    int64
 9   Sugars               110 non-null    int64
 10  Protein              110 non-null    float64
 11  Vitamin_A            110 non-null    float64
 12  Vitamin_C            110 non-null    float64
 13  Calsium              110 non-null    float64
 14  Iron                 110 non-null    float64
 15  Caffein              110 non-null    int64
dtypes: float64(8), int64(7), object(1)
memory usage: 13.9+ KB

In [6]:
df.isna().sum()

Beverage_category      0
Calories               0
Total_Fat              0
Trans_fat              0
Saturated_Fat          0
Sodium                 0
Total_Carbohydrates    0
Cholesterol            0
Dietary_Fibre          0
Sugars                 0
Protein                0
Vitamin_A              0
Vitamin_C              0
Calsium                0
Iron                   0
Caffein                0
dtype: int64

In [7]:
df.Beverage_category.unique()

array(['Classic Espresso Drinks', 'Tazo® Tea Drinks'], dtype=object)

In [8]:
df.Beverage_category = df.Beverage_category.apply(lambda x : int(1) if x == 'Classic Espresso Drinks' else int(0) )

In [9]:
df.head(3)

,Beverage_category,Calories,Total_Fat,Trans_fat,Saturated_Fat,Sodium,Total_Carbohydrates,Cholesterol,Dietary_Fibre,Sugars,Protein,Vitamin_A,Vitamin_C,Calsium,Iron,Caffein
0,1,70,0.1,0.1,0.0,5,75,10,0,9,6.0,0.10,0.0,0.2,0.00,75
1,1,100,3.5,2.0,0.1,15,85,10,0,9,6.0,0.10,0.0,0.2,0.00,75
2,1,70,2.5,0.4,0.0,0,65,6,1,4,5.0,0.06,0.0,0.2,0.08,75

In [10]:
df.Beverage_category.value_counts()

1    58
0    52
Name: Beverage_category, dtype: int64

In [11]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [12]:
X = df.drop('Beverage_category', axis = 1).values
y = df.Beverage_category.values

X_train, X_test, y_train, y_test = train_test_split(X, y, stratify = df.Beverage_category, random_state = 42)

In [13]:
scale = StandardScaler()
scale.fit(X_train)
X_train_scale = scale.transform(X_train)
X_test_scale = scale.transform(X_test)

In [14]:
svm = SVC(C=0.5, probability=True, verbose=1, random_state = 12 )
model = svm.fit(X_train_scale, y_train)

[LibSVM]

In [15]:
print(f'Akurasi Data Train : {model.score(X_train_scale, y_train):.3f}')
print(f'Akurasi Data Test : {model.score(X_test_scale, y_test):.3f}')

Akurasi Data Train : 0.988
Akurasi Data Test : 0.929

In [16]:
pred_proba_train = pd.DataFrame(model.predict_proba(X_train_scale), columns = ['0', '1'])
pred_proba_train.head()

              0         1
0  7.891303e-09  1.000000
1  3.896402e-08  1.000000
2  9.951302e-01  0.004870
3  9.735446e-01  0.026455
4  5.518090e-03  0.994482

In [17]:
pred_proba_test = pd.DataFrame(model.predict_proba(X_test_scale), columns = ['0', '1'])
pred_proba_test.head()

          0         1
0  0.981578  0.018422
1  0.570242  0.429758
2  0.002739  0.997261
3  0.977742  0.022258
4  0.357623  0.642377